<div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="jumbotron">
        <div class="form-group">
            <div class="field">
              category: <%= @category.name %>
            </div>
            <div class="field">
              list: <%= @list.name %>
            </div>
            <br/ >
            <div class="field">
              description: <%= @list.description %>
            </div>
        </div>
      </div>
    </div>
 </div>

